@import '../../fonts';

.contextItem {
  height: 40px;
  color: var(--white);
  font-size: 16px;
  display: grid;
  padding: 0 15px;
  max-width: 150px;
  gap: 10px;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-radius: 4px;
  min-width: 200px;

  @include font("title");

  &:hover {
    cursor: pointer;
    background: rgba(61, 61, 61, 0.316);
  }
}

.leftItem {
  height: 20px;
  width: 20px;
  svg {
    height: 20px;
    width: 20px;
  }
}