@import '../../../fonts';

.title{
    margin: 10px;
    // background-color: var(--stroke);
    display: flex;
    align-items: center;
    padding-left: 10px;
    @include font("project-title");
    p {
        padding: 0 10px;
    }
}