:root {
    --bg-center: #2B2E41;
    --white: #FBF5F7;
    --alert: #DA5151;
    --text-25:rgba(251, 245, 247, 0.25);
    --text-50: rgba(251, 245, 247, 0.55);
    --text-85: rgba(251, 245, 247, 0.85);
    --text-100: #FBF5F7;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: unset;
    user-select: none;
}

html {
    background-color: var(--bg-center);
}

#root {
    display: flex;
    color: var(--white);
}

#dialog-root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    & > * {
        z-index: 1000;
    }
    &.active::after {
        z-index: 999;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.36);
        content: "";
    }

}