.folder{
    height: 40px;
    background-color: var(--bg-left);
    color: var(--white);
    font-size: 20px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    user-select: none;
    &:hover {
        background-color: var(--bg-left-hover);
        cursor: pointer;
    }
}
.active {
    background-color: var(--bg-left-hover);
}